.smartphoneList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 var(--spacing-xlarge);
}

.smartphoneItem {
  display: flex;
  width: 100%;
  height: 344px;
  border: 1px solid var(--color-black);
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
}

.smartphoneItem:hover {
  background-color: var(--color-black);
}

.smartphoneItem__brand {
  font-size: 10px;
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-small);
  color: var(--color-brand-text);
  text-transform: var(--text-transform-uppercase);
}

.smartphoneItem__device {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-small);
  text-transform: var(--text-transform-uppercase);
  display: flex;
  justify-content: space-between;
}

.smartphoneItem__imageWrapper {
  position: relative;
  width: 100%;
  height: 257px;
}
