.searcher {
  width: 100%;
  padding: 0px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}

.searcherForm {
  width: 100%;
}

.searcherInput {
  border-bottom: 0.5px black solid;
  width: 100%;
  padding: 0px 0px 8px 0px;
  gap: 12px;
  font-size: 16px;
}

.resultsCounter {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  line-height: 14.51px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
