.shoppingCart {
  position: relative;
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shoppingCart__title {
  position: sticky;
  top: 60px;
  z-index: 2;
  background-color: white;
  padding: 24px;
  margin: 0;
}
