.smartphoneDetail {
  display: flex;
  flex-direction: column;
  height: 80%;
  padding: 15px;
}

.smartphoneDetail__shoppingInfo {
  display: flex;
  flex-direction: column;
}

.smartphoneDetail__imageWrapper {
  position: relative;
  width: 100%;
  height: 273px;
  z-index: 0;
}

.smartphoneDetail__name {
  font-size: 20px;
  line-height: 24.18px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 30px;
}

.smartphoneDetail__basePrice {
  font-size: 14px;
  font-weight: 300;
  line-height: 16.93px;
  margin-top: 15px;
}

.smartphoneDetail__storage {
  margin-top: 40px;
}

.smartphoneDetail__colorForm {
  display: flex;
}

.smartphoneDetail__storageForm {
  display: flex;
}

.smartphoneDetail__storageLabel {
  border: 1px solid var(--dynamic-storageLabel-borderColor);
  padding: 24px;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
  width: 100px;
  display: flex;
  justify-content: center;
}

.smartphoneDetail__storageForm {
  margin: 20px 0;
}

.smartphoneDetail__colorForm {
  margin: 20px 0;
}

.smartphoneDetail__colorLabel {
  width: 20px;
  height: 20px;
  background-color: var(--dynamic-colorLabel-color);
  cursor: pointer;
  border: 1px solid var(--dynamic-colorLabel-borderColor);
}

.smartphoneDetail__colorInput,
.smartphoneDetail__storageInput {
  display: none;
}

.smartphoneDetail__addButton {
  width: 100%;
  padding: 15px 0px;
  margin: 40px 0;
  color: white;
  background-color: black;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
}

.smartphoneDetail__addButton:disabled {
  background-color: lightgray;
}

.smartphoneDetail__similarItemsCarousel {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-flow: column;
  overflow-x: scroll;
}

.smartphoneDetail__similarItemsCarousel ul {
  width: 300px;
}
